<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="mapContext.xml"/>
    <import resource="listContext.xml"/>

    <bean id="studentDao" class="com.jeongyongs.student.StudentDao"/>
    <bean id="studentManagement" class="com.jeongyongs.student.StudentManagement">
        <constructor-arg ref="studentDao"/>
    </bean>
    <bean id="injectionObject" class="com.jeongyongs.construct.InjectionObject">
        <property name="name" value="Jeongyongs"/>
    </bean>
    <bean id="constructDi" class="com.jeongyongs.construct.ConstructDi">
        <constructor-arg ref="injectionObject"/>
    </bean>

<!--    Default singleton, Use scope="prototype" to create new object when get bean -->
</beans>